body {
  background-image: url("img/millionaire01.jpg");
  background-color: #000;
  color: #fff;
}

section {
  width: 400px;
}

#app {
  display: flex;
}

#app ul {
  list-style-type: none;
  color: #cad622;
  font-size: 24px;
  padding-left: 30%;
}

#app li {
  margin-top: 10px;
}
#app li:nth-child(1),
li:nth-child(6),
li:nth-child(11) {
  color: #fff;
}
#app li span {
  margin-left: 30px;
}
main {
  flex-grow: 5;
  display: grid;
  grid-template-columns: 50%, 50%;
  grid-template-rows: 60%, 20%, 10%, 10%;
  grid-template-areas: "header header" "question question" "a b" "c d";
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.header {
  grid-area: header;
}

.question {
  grid-area: question;
  justify-self: center;
  border: 1px solid white;
  padding: 70px 30%;
  /* taken from https://uigradients.com/#Lawrencium */
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.active {
  border-top: 1px solid skyblue;
  border-bottom: 1px solid skyblue;
}

main button {
  cursor: pointer;
  display: block;
  justify-self: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  width: 95%;
  padding: 40px 0;
  color: #fff;
  /* taken from https://uigradients.com/#Lawrencium */
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
}

main button span {
  color: #5b6102;
}

main button .item-a {
  grid-area: a;
}
main button .item-b {
  grid-area: b;
}
main button .item-c {
  grid-area: c;
}
main button .item-d {
  grid-area: d;
}
.final_answer {
  background: #709634 !important;
}
.invisible {
  visibility: hidden !important;
}
.ghost {
  display: none;
}

aside {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

aside i {
  font-size: 80px;
}
aside section {
  text-align: center;
}
aside button {
  cursor: pointer;
  border-radius: 10px 20px;
  margin: 10px;
  color: #fff;

  /* taken from https://uigradients.com/#Lawrencium */
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428);
}

.settings {
  margin-top: 100px;
}
.settings button {
  background: grey;
  margin: 3px;
  border-radius: 0 0 0 0;
}
.settings button i {
  font-size: 24px;
}

.header h1 {
  text-align: center;
  font-size: 64px;
}
